{% extends 'core/layout.html' %}
{% load staticfiles %}
{% load form_extras %}
{% block title %}Expense Tracking - Manage Company Cards{% endblock %}

{% block head_css %}
{% endblock %}

{% block body_content %}

    <!-- page content -->
  <div class="right_col" role="main">
    <!-- po table -->
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <div class="x_panel">
          <div class="x_title">
            {% if form.instance.id %}
              <h3>Edit Company Card - {{ form.instance.id  }}</h3>
            {% else %}
              <h3>Add a new Company Card</h3>
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal form-label-left" method="post">
              {% csrf_token %}
              {% render_input_text form.name %}
              {% render_input_text form.gp_vendor_code %}
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
    <!-- po table -->
  </div>

<!-- /page content -->
{% endblock %}

{% block body_js %}

{% endblock %}