{% extends 'core/layout.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Expense Tracking - Expense Report{% endblock %}

{% block head_css %}
  <!-- Datatables -->
  <link href="{% static "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">

  <!-- Select2 -->
  <link href="{% static "vendors/select2/dist/css/select2.min.css" %}" rel="stylesheet">

  <!-- bootstrap-daterangepicker -->
  <link href="{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block body_content %}

    <!-- page content -->
  <div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>Expense Report <small>You can filter to list or export expenses here</small></h3>
      </div>

      <div class="title_right">
        {% if request.user.is_salesman and not request.user.is_admin %}
          <a class="btn btn-primary btn-round pull-right" type="button"
                     href="{% url 'expense-add' %}">
                    <i class="fa fa-plus" ></i> Add Expense</a>
        {% else %}

        {% endif %}
      </div>
    </div>

    <div class="clearfix"></div>
    <!-- po table -->
    <div class="row">
      {% if request.GET.action == 'list' %}
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <table class="table" id="datatable">
              <thead>
                <tr>
                  <th>Salesman</th>
                  <th>Expense Type</th>
                  <th>Date of Transaction</th>
                  <th>Amount</th>
                  <th>Paid By</th>
                  <th>Status</th>
                  <th>Notes</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in object_list %}
                  <tr>
                    <td>{{ expense.salesman.user }}</td>
                    <td>{{ expense.expense_types }}</td>
                    <td>{{ expense.transaction_date|date:"Y-m-d"}}</td>
                    <td>${{ expense.total_amount|intcomma }}</td>
                    <td>{{ expense.paid_by }}</td>
                    <td> {{ expense.status }}

                    </td>
                    <td>{{ expense.notes|truncatewords:6 }}</td>
                    <td>
                        <a href="{% url 'expense-detail' expense.pk %}"
                           class="btn btn-primary btn-xs">
                          <i class="fa fa-folder"></i> View </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <div class="x_panel">
          <div class="x_title">
            <h3>Filter Expenses</h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal form-label-left">

              {% if request.user.is_admin or request.user.is_manager %}
                <div class="item form-group ">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    for="salesman">Salesman
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control select2_single" id="salesman"
                      name="salesman" >
                    <option value="">----------</option>
                    {% for salesman in salesman_list %}
                      <option value="{{ salesman.id }}">{{ salesman.user }}</option>
                    {% endfor %}
                    </select>
                  </div>
                </div>
              {% endif %}

              <div class="item form-group ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                  for="status">Status
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control select2_single" id="status"
                    name="salesman" multiple>
                  <option value="">----------</option>
                  {% for status in status_list %}
                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>

              <div class="item form-group ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                  for="status">Date Range
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                    <input type="text" id="daterange" class="form-control" value="" />
                  </div>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="button" class="btn btn-primary action" id="list" >
                    <i class="fa fa-list"></i> List Expenses</button>
                  <button type="button" class="btn btn-success action" id="export">
                    <i class="fa fa-external-link" ></i> Export Expenses</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
        <div class="col-md-2 col-sm-2"></div>
      {% endif %}
    </div>
    <!-- po table -->
  </div>

<!-- /page content -->
{% endblock %}

{% block body_js %}
  <!-- Datatables -->
  <script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
  <script src="{% static "vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
  <script src="{% static "vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
  <script src="{% static "vendors/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
{#    <script src="{% static "vendors/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>#}
{#    <script src="{% static "vendors/datatables.net-buttons/js/buttons.print.min.js" %}"></script>#}
  <script src="{% static "vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
  <script src="{% static "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
  <script src="{% static "vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>

  <!-- bootstrap-daterangepicker -->
  <script src="{% static "vendors/moment/min/moment.min.js" %}"></script>
  <script src="{% static "vendors/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
  <!-- Select2 -->
  <script src="{% static "vendors/select2/dist/js/select2.full.min.js" %}"></script>

  <script>
    $(document).ready(function() {
        var base_url = window.location.href.split('#')[0].split('?')[0];

        // Initialize Select
        $(".select2_single").select2({
            width: '100%',
            placeholder: "Select a value"
        });

        // call the export list
        $(".action").click(function () {
            var params = {
                action: $(this).attr('id')
            };
            ['salesman', 'status', 'daterange'].forEach(function (p) {
                var val = $("#" + p).val();
                if (val) {
                    params[p] = val;
                }
            });
            window.location = base_url + '?' + $.param(params);
        });

        // Initialize Date range
        $('#daterange').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD'
            },
            startDate: moment().subtract(7, 'days'),
            endDate: moment(),
            minDate: moment().subtract(3, 'months'),
            maxDate: moment()
        });

        $('#datatable').DataTable({
            dom: "<\"dt-toolbar\">frtip",
            "responsive": true,
            "order": [[2, "desc"], [1, "desc"]],
            "columnDefs": [
                {"type": "date", targets: [2]},
                {
                    targets: [5],
                    render: function (data, type, full, meta) {
                        if (data === 'A') {
                            return '<a class="btn btn-round btn-success btn-xs"> ' +
                                '<i class="fa fa-check" ></i> Approved</a>'
                        } else if (data === 'D') {
                            return '<a class="btn btn-round btn-danger btn-xs"> ' +
                                '<i class="fa fa-times" ></i> Denied</a>'
                        } else {
                            return '<a class="btn btn-round btn-warning btn-xs"> ' +
                                '<i class="fa fa-history" ></i> Pending</a>'
                        }
                    }
                },
                {
                    targets: [1],
                    render: function (data, type, full, meta) {
                        var elem = '';
                        data.split('|').forEach(function (item, index) {
                            elem = elem + ' <kbd>' + item + '</kbd>';
                        });
                        return elem
                    }
                },
                {"searchable": false, "targets": [3, 4, 7]},
                {"sortable": false, "targets": [4, 5, 6, 7]}
            ]
        });

        $("div.dt-toolbar")
            .html('<a type="button" href="' + base_url +
                  '" class="btn btn-sm btn-round btn-primary">' +
                  '<i class="fa fa-sliders" ></i> Filter Expenses</a>')
            .css("float", "left");
    });

  </script>
{% endblock %}