{% extends 'core/layout.html' %}
{% load staticfiles %}
{% load form_extras %}
{% block title %}Expense Tracking - Manage Salesmen{% endblock %}

{% block head_css %}

  <!-- Select2 -->
  <link href="{% static "vendors/select2/dist/css/select2.min.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}

    <!-- page content -->
  <div class="right_col" role="main">
    <!-- po table -->
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <div class="x_panel">
          <div class="x_title">
            {% if form.instance.id %}
              <h3>Edit Expense Limit - {{ form.instance.id  }}</h3>
            {% else %}
              <h3>Add a new Expense Limit</h3>
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal form-label-left" method="post">
              {% csrf_token %}
              {% render_input_select form.salesman %}
              {% render_input_select form.expense_type %}
              {% render_input_text form.limit "Expense Limit"%}
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
    <!-- po table -->
  </div>

<!-- /page content -->
{% endblock %}

{% block body_js %}
  <!-- Select2 -->
  <script src="{% static "vendors/select2/dist/js/select2.full.min.js" %}"></script>

  <script>
      $(document).ready(function() {
        // Initialize Select
        $(".select2_single").select2({
			    allowClear: false
			  });
      });
  </script>
{% endblock %}