{% extends 'core/layout.html' %}
{% load staticfiles %}
{% load form_extras %}
{% load humanize %}

{% block title %}Expense Tracking - Dashboard{% endblock %}

{% block head_css %}

  <!-- bootstrap-daterangepicker -->
  <link href="{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}

  <!-- page content -->
  <div class="right_col" role="main">
  {% if user.is_admin %}
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-users"></i></div>
          <div class="count">{{ team_count }}</div>
          <h3>Salesman</h3>
          <p>Number of registered salesman.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-clock-o"></i></div>
          <div class="count">$ {{ pending_amt }}</div>
          <h3>Pending Amount</h3>
          <p>Allowance amount still pending to be approved.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa fa-check-square"></i></div>
          <div class="count green">$ {{ approved_amt }}</div>
          <h3>Approved Amount</h3>
          <p>Allowance amount approved in the past 3 months.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-check-square"></i></div>
          <div class="count blue">$ {{ paid_amt }}</div>
          <h3>Paid Amount</h3>
          <p>Allowance amount paid in the past 3 months..</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Salesmen <small>List of salesman reporting to you</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Company Cards</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for salesman in salesman_list %}
                  <tr>
                    <td>
                      <b>{{ salesman.user }}</b>
                    </td>
                    <td>
                      {% for cc in  salesman.company_cards.all %}
                        <span class="label label-default">{{ cc }}</span>
                      {% endfor %}
                    </td>
                    <td>
                      <a href="{% url 'expense-list-export' %}?action=list&salesman[]={{ salesman.id }}"
                         class="btn btn-info btn-xs"><i class="fa fa-external-link"></i> View Expenses</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Latest expenses <small>Last 10 expenses created by your team</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Salesman</th>
                    <th>Expense Type</th>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for expense in expense_list %}
                  <tr>
                    <td>{{ expense.salesman.user }}</td>
                    <td>
                      {% for l in  expense.lines.all %}
                        <span class="label label-default">{{ l.expense_type }}</span>
                      {% endfor %}
                    </td>
                    <td>{{ expense.transaction_date|date:"Y-m-d"}}</td>
                    <td>${{ expense.total_amount|intcomma }}</td>
                    <td> {{ expense.get_status_display }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
    </div>
  {% elif user.is_salesman %}
    {% if not user.salesman %}
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center text-center">
            <h1>On-Boarding In Progress</h1>
            <p>We are presently working on on-boarding you onto the system. <br/>
              Please contact the system admin if you are in a hurry. </p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <div class="count">$ {{ pending_amt }}</div>
            <h3>Pending Amount</h3>
            <p>Allowance amount still pending to be approved.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count green">$ {{ approved_amt }}</div>
            <h3>Approved Amount</h3>
            <p>Allowance amount approved in the past 3 months.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square"></i></div>
            <div class="count blue">$ {{ paid_amt }}</div>
            <h3>Paid Amount</h3>
            <p>Allowance amount paid in the past 3 months..</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          {% if user.salesman.daily_expense > 0 %}
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-round btn-block btn-primary" data-toggle="modal"
                        data-target="#submitDaily">
                  <i class="fa fa-calendar-check-o fa-4x"></i><h3>Daily Rate </h3>
                </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="btn btn-round  btn-block btn-success"
                  href="{% url 'expense-add' %}">
                  <i class="fa fa-plus fa-4x"></i><h3>Other Expense </h3>
                </a>
              </div>
            </div>
          {% else %}
            <a class="btn btn-round  btn-block btn-success"
              href="{% url 'expense-add' %}">
              <i class="fa fa-plus fa-4x"></i><h3>Add a new Expense </h3>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Expenses Summary <small>Daily expenses in the last 30 days</small></h2>

  {#                    <div class="filter">#}
  {#                      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">#}
  {#                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>#}
  {#                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>#}
  {#                      </div>#}
  {#                    </div>#}
                      <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="demo-container" style="height:280px">
                <div id="daily_expense_summary" class="demo-placeholder"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Latest expenses <small>Last 10 expenses created by you</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Salesman</th>
                    <th>Expense Type</th>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for expense in expense_list %}
                  <tr>
                    <td>{{ expense.salesman.user }}</td>
                    <td>
                      {% for l in  expense.lines.all %}
                        <span class="label label-default">{{ l.expense_type }}</span>
                      {% endfor %}
                    </td>
                    <td>{{ expense.transaction_date|date:"Y-m-d"}}</td>
                    <td>${{ expense.total_amount|intcomma }}</td>
                    <td> {{ expense.get_status_display }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <!-- Submit daily rate modal -->
      <div class="modal fade" id="submitDaily" tabindex="-1" role="dialog"
           aria-hidden="true" aria-labelledby="submitDailyLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal" action="{% url 'expense-daily-submit'%}"
                  method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="submitDailyLabel">Submit Daily Rate</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}

              <div class="item form-group ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                  for="status">Date
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                    <input type="text" id="id_transaction_date"  name="transaction_date"
                           class="form-control" value="" />
                  </div>
                </div>
              </div>
              {% render_input_select daily_form.expense_type %}
              {% render_input_select daily_form.worked %}

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" value="Submit"/>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- delete modal -->
    {% endif %}
  {% elif user.is_manager %}
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-w col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-users"></i></div>
          <div class="count">{{ team_count }}</div>
          <h3>Salesman</h3>
          <p>Number of salesman reporting to you.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-clock-o"></i></div>
          <div class="count">$ {{ pending_amt }}</div>
          <h3>Pending Amount</h3>
          <p>Allowance amount still pending to be approved.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-check-square-o"></i></div>
          <div class="count green">$ {{ approved_amt }}</div>
          <h3>Approved Amount</h3>
          <p>Allowance amount approved in the past 3 months.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-check-square"></i></div>
          <div class="count blue">$ {{ paid_amt }}</div>
          <h3>Paid Amount</h3>
          <p>Allowance amount paid in the past 3 months..</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Salesmen <small>List of salesman reporting to you</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Company Cards</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for salesman in user.team.all %}
                  <tr>
                    <td>
                      <b>{{ salesman.user }}</b>
                    </td>
                    <td>
                      {% for cc in  salesman.company_cards.all %}
                        <span class="label label-default">{{ cc }}</span>
                      {% endfor %}
                    </td>
                    <td>
                      <a href="{% url 'expense-list-export' %}?action=list&salesman[]={{ salesman.id }}"
                         class="btn btn-info btn-xs"><i class="fa fa-external-link"></i> View Expenses</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Latest expenses <small>Last 10 expenses created by your team</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Salesman</th>
                    <th>Expense Type</th>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for expense in expense_list %}
                  <tr>
                    <td>{{ expense.salesman.user }}</td>
                    <td>
                      {% for l in  expense.lines.all %}
                        <span class="label label-default">{{ l.expense_type }}</span>
                      {% endfor %}
                    </td>
                    <td>{{ expense.transaction_date|date:"Y-m-d"}}</td>
                    <td>${{ expense.total_amount|intcomma }}</td>
                    <td> {{ expense.get_status_display }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
    </div>
  {% else %}
    Welcome to the Salesman Expense Tracking System
  {% endif %}
  </div>
  <!-- /page content -->
{% endblock %}

{% block body_js %}
  <script src="{% static "vendors/morrisjs/morris.min.js" %}"></script>
  <script src="{% static "vendors/raphael/raphael.min.js" %}"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="{% static "vendors/moment/min/moment.min.js" %}"></script>
  <script src="{% static "vendors/bootstrap-daterangepicker/daterangepicker.js" %}"></script>

  <script>
    $(document).ready(function () {
        // Initialize the date picker
      var trans_date = $('#id_transaction_date')
      if (trans_date) {
        trans_date.daterangepicker({
          minDate: moment().subtract(1, 'month'),
          maxDate: moment(),
          singleDatePicker: true,
          singleClasses: "picker_3"
        }, function(start, end, label) {});
      }

      if ($('#daily_expense_summary').length ){
        $.ajax({
          url: "{% url "expense-daily-average" %}",
          type: "GET",
          dataType: "json",
          success: function (data) {

              Morris.Line({
                  element: 'daily_expense_summary',
                  xkey: '0',
                  ykeys: ['1'],
                  labels: ['Daily Total'],
                  hideHover: 'auto',
                  lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                  data: data,
                  resize: true
              });

              $MENU_TOGGLE.on('click', function () {
                  $(window).resize();
              });
          }
			  });
      }
    });
  </script>
{% endblock %}