{% extends 'core/layout.html' %}
{% load staticfiles %}

{% block title %}ExpenseTraQ - Dashboard{% endblock %}


{% block body_content %}

  <!-- page content -->
  <div class="right_col" role="main">
  {% if "Expense-User" in user_groups%}
    {% if not user.salesman %}
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center text-center">
            <h1>On-Boarding In Progress</h1>
            <p>We are presently working on on-boarding you onto the system. <br/>
              Please contact the system admin if you are in a hurry. </p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <div class="count">$ {{ pending_amt }}</div>
            <h3>Pending Amount</h3>
            <p>Allowance amount still pending to be approved.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count green">$ {{ approved_amt }}</div>
            <h3>Approved Amount</h3>
            <p>Allowance amount approved till now.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-times"></i></div>
            <div class="count red">$ {{ denied_amt }}</div>
            <h3>Denied Amount</h3>
            <p>Allowance amount denied till now..</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a class="btn btn-round  btn-block btn-success"
             href="{% url 'expense-add' %}">
            <i class="fa fa-plus fa-4x"></i><h3>Add a new Expense </h3>
          </a>
        </div>
      </div>
    {% endif %}
  {% elif "Expense-Manager" in user_groups %}
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-users"></i></div>
          <div class="count">{{ team_count }}</div>
          <h3>Salesman</h3>
          <p>Number of salesman reporting to you.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-clock-o"></i></div>
          <div class="count">$ {{ pending_amt }}</div>
          <h3>Pending Amount</h3>
          <p>Allowance amount still pending to be approved.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-check-square-o"></i></div>
          <div class="count green">$ {{ approved_amt }}</div>
          <h3>Approved Amount</h3>
          <p>Allowance amount approved till now.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-times"></i></div>
          <div class="count red">$ {{ denied_amt }}</div>
          <h3>Denied Amount</h3>
          <p>Allowance amount denied till now..</p>
        </div>
      </div>

    </div>
  {% elif "Expense-Admin" in user_groups %}
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-users"></i></div>
          <div class="count">{{ team_count }}</div>
          <h3>Salesman</h3>
          <p>Number of salesman registered on the site.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-clock-o"></i></div>
          <div class="count">$ {{ pending_amt }}</div>
          <h3>Pending Amount</h3>
          <p>Allowance amount still pending to be approved.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-check-square-o"></i></div>
          <div class="count green">$ {{ approved_amt }}</div>
          <h3>Approved Amount</h3>
          <p>Allowance amount approved till now.</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-times"></i></div>
          <div class="count red">$ {{ denied_amt }}</div>
          <h3>Denied Amount</h3>
          <p>Allowance amount denied till now..</p>
        </div>
      </div>

    </div>
  {% else %}
    Welcome to the Salesman Expense Tracking System
  {% endif %}
  </div>
  <!-- /page content -->
{% endblock %}