{% extends 'core/layout.html' %}
{% load staticfiles %}

{% block title %}ExpenseTraQ - Dashboard{% endblock %}


{% block body_content %}

  <!-- page content -->
  <div class="right_col" role="main">
  {% if "Expense-User" in user_groups and not user.salesman%}
    <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center text-center">
            <h1>On-Boarding In Progress</h1>
            <p>We are presently working on on-boarding you onto the system. <br/>
              Please contact the system admin if you are in a hurry. </p>
          </div>
        </div>
      </div>
  {% else %}
    Welcome to the Salesman Expense Tracking System
  {% endif %}
  </div>
  <!-- /page content -->
{% endblock %}