{% extends 'core/layout.html' %}
{% load staticfiles %}
{% load form_extras %}
{% block title %}ExpenseTraQ - Manage Salesmen{% endblock %}

{% block head_css %}

  <!-- Select2 -->
  <link href="{% static "vendors/select2/dist/css/select2.min.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}

    <!-- page content -->
  <div class="right_col" role="main">
    <!-- po table -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            {% if form.instance.id %}
            <h3>Edit Salesman - {{ form.instance.user  }}</h3>
            {% else %}
            <h3>On-board a Salesman</h3>
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal form-label-left" method="post">
              {% csrf_token %}

              {% render_input_select form.user "Salesman"%}
              {% render_input_select form.regions%}

{#              {% render_input_select_m form "regions" "Regions" form.instance.regions%}#}

              {% render_input_select form.manager%}


              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- po table -->
  </div>

<!-- /page content -->
{% endblock %}

{% block body_js %}
  <!-- Select2 -->
  <script src="{% static "vendors/select2/dist/js/select2.full.min.js" %}"></script>

  <script>
      $(document).ready(function() {
        // Initialize Select
        $(".select2_single").select2({
			    allowClear: false
			  });
      });
  </script>
{% endblock %}